.color1{
    background-color: #009878;
    color: #fff;
    
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #55c4a9;
    color: #fff;
}